<div class="container">
  <div class="header">
    <h1 class="title">Cozinha</h1>
  </div>

  <div class="orders-list">
    <div class="order-card" *ngFor="let order of orders">
      <div class="order-info">
        <div class="customer-info">
          <span class="label">Cliente:</span>
          <span class="value">{{order.customer}}</span>
        </div>
        <div class="order-number">
          <span class="label">Comanda:</span>
          <span class="value">{{order.id}}</span>
        </div>
        <div class="order-status" [ngClass]="{
          'status-preparando': order.status === 'Preparando',
          'status-caminho': order.status === 'A Caminho',
          'status-espera': order.status === 'Fila de Espera'
        }">
          <span class="label">Status do pedido:</span>
          <span class="value">{{order.status}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
